<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sossalao">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".SOSsalaoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SOSsalao"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.people.PeopleDetailActivity"
            android:theme="@style/SOSsalao.Home"></activity>
        <activity
            android:name=".ui.people.FormPeopleActivity"
            android:theme="@style/SOSsalao.Home" />
        <activity
            android:name=".ui.people.client.ClientActivity"
            android:theme="@style/SOSsalao.Home" />
        <activity
            android:name=".ui.people.employee.EmployeeActivity"
            android:theme="@style/SOSsalao.Home" />
        <activity
            android:name=".ui.FormInventoryActivity"
            android:theme="@style/SOSsalao.Home" />
        <activity
            android:name=".ui.ProductDetailActivity"
            android:theme="@style/SOSsalao.Home" />
        <activity
            android:name=".ui.schedule.ScheduleActivity"
            android:theme="@style/SOSsalao.Home" />
        <activity
            android:name=".ui.InventoryActivity"
            android:label="@string/app_name"
            android:theme="@style/SOSsalao.Home" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/SOSsalao.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".notify.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>